<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyPublicProfile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="alert"><%= flash[:alert] %></div>

    <%= yield %>
    <h1> PARAMS </h1>
    <%= params.inspect %>
    <h1> SESSION </h1>
    <%= session.inspect %>
    <h1> COOKIES </h1>
    <%= cookies.inspect %>
  </body>
</html>
